.App {
  font-size: 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
}

.Information {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

input {
  width: 300px;
  height: 50px;
  font-size: 15px;
  padding-left: 10px;
}

.input-type {
  border: rgba(90, 87, 87, 0);
  width: 300px;
  height: 50px;
  font-size: 15px;
  padding-left: 10px;
}

button {
  width: 315px;
  height: 50px;
  margin-top: 15px;
} 

button:hover {
  cursor: pointer;
}

.button-4 {
  appearance: none;
  background-color: #FAFBFC;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #24292E;
  cursor: pointer;
  display: inline-block;
  font-family: Helvetica;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
}

.button-4:hover {
  background-color: #F3F4F6;
  text-decoration: none;
  transition-duration: 0.1s;
}

.button-4:disabled {
  background-color: #FAFBFC;
  border-color: rgba(27, 31, 35, 0.15);
  color: #959DA5;
  cursor: default;
}

.button-4:active {
  background-color: #EDEFF2;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
}

.button-4:focus {
  outline: 1px transparent;
}

.button-4:before {
  display: none;
}

.button-4:-webkit-details-marker {
  display: none;
}

.Campaigns {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.Campaign {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  font-family: Helvetica;  
  width: 700px;
  height: auto;
  border: 1px solid black;
  margin: 10px;
  display: flex;
  padding: 10px;
}

.Campaign h3 {
  margin: 20px;
  width: 150px;
}